/HW3/HW3_Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/HW3/HW3_Tests/obj/Debug/net8.0/HW3_Tests.AssemblyInfo.cs
/HW3/HW3_Tests/obj/Debug/net8.0/HW3_Tests.AssemblyInfoInputs.cache
/HW3/HW3_Tests/obj/Debug/net8.0/HW3_Tests.assets.cache
/HW3/HW3_Tests/obj/Debug/net8.0/HW3_Tests.csproj.AssemblyReference.cache
/HW3/HW3_Tests/obj/Debug/net8.0/HW3_Tests.GeneratedMSBuildEditorConfig.editorconfig
/HW3/HW3_Tests/obj/Debug/net8.0/HW3_Tests.GlobalUsings.g.cs
/HW3/HW3_Tests/obj/Debug/net8.0/TestProject1.AssemblyInfo.cs
/HW3/HW3_Tests/obj/Debug/net8.0/TestProject1.AssemblyInfoInputs.cache
/HW3/HW3_Tests/obj/Debug/net8.0/TestProject1.assets.cache
/HW3/HW3_Tests/obj/Debug/net8.0/TestProject1.csproj.AssemblyReference.cache
/HW3/HW3_Tests/obj/Debug/net8.0/TestProject1.GeneratedMSBuildEditorConfig.editorconfig
/HW3/HW3_Tests/obj/Debug/net8.0/TestProject1.GlobalUsings.g.cs
/HW3/HW3_Tests/obj/HW3_Tests.csproj.nuget.dgspec.json
/HW3/HW3_Tests/obj/HW3_Tests.csproj.nuget.g.props
/HW3/HW3_Tests/obj/HW3_Tests.csproj.nuget.g.targets
/HW3/HW3_Tests/obj/project.assets.json
/HW3/HW3_Tests/obj/project.nuget.cache
/HW3/HW3_Tests/obj/project.packagespec.json
/HW3/HW3_Tests/obj/rider.project.model.nuget.info
/HW3/HW3_Tests/obj/rider.project.restore.info
/HW3/HW3_Tests/obj/TestProject1.csproj.nuget.dgspec.json
/HW3/HW3_Tests/obj/TestProject1.csproj.nuget.g.props
/HW3/HW3_Tests/obj/TestProject1.csproj.nuget.g.targets
